include ../mixins/mixpanel

doctype html
html(lang="en-US")
  head
    title Clickworthy
    
    //- JQuery
    script(src="/public/javascripts/jquery/jquery-2.2.0.min.js", type="text/javascript")

    //- bootstrap metas, CSS and JS
    //- TODO use SASS to compile and customize boostrap
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/public/boostrap/bootstrap-3.3.6/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    script(src="/public/boostrap/bootstrap-3.3.6/js/bootstrap.min.js", type="text/javascript")

    //- My helpers
    script(src="/public/javascripts/helpers.js")

    //- common CSS for the site
    link(href="/public/stylesheets/clickworthy.css", rel="stylesheet", type="text/css")

    +mixpanelInit(MIXPANEL_PROJ_KEY)
    +mixpanelGeneralPageView(JSON.stringify(REQ_GLOBALS.queryParams))

    //- where pages and stuff should add common JS and CSS
    block headResources

  body
    nav#siteNav.navbar.navbar-default.navbar-fixed-top
      | Clickworthy
    
    div#siteSubNav
      span Today's date
      span &nbsp; • &nbsp;
      span Bringing you the best videos ever

    block body 
    block bodyEndResources