doctype html
html(lang="en-US")
  head
    title Clickworthy
    
    //- JQuery
    script(src="/public/javascripts/jquery/jquery-2.2.0.min.js", type="text/javascript")

    //- bootstrap metas, CSS and JS
    //- TODO use SASS to compile and customize boostrap
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/public/boostrap/bootstrap-3.3.6/css/boostrap.min.css", rel="stylesheet", type="text/css")
    script(src="/public/boostrap/bootstrap-3.3.6/js/boostrap.min.js", type="text/javascript")

    //- common CSS for the site
    link(href="/public/stylesheets/clickworthy.css", rel="stylesheet", type="text/css")
    
    //- where pages and stuff should add common JS and CSS
    block headResources

  body
    block body 
    //- TODO put a footer
    block bodyEndResources