<!DOCTYPE html>
<html>
<head>
	<!-- TODO -->
</head>
<body>
	<iframe type="text/html"
        src="http://www.youtube.com/embed/<%= yid %>?enablejsapi=1"
        frameborder="0">
    </iframe>

    <div>
        <a href="/">Make your own</a>
    </div>
</body>
</html>