<!DOCTYPE html>
<html>
<head>
    <!-- TODO -->
</head>
<body>
    <form method="POST" action="/makeme/makeme/makeme">
        <input type="url"
                name="youtubeUrl"
                placeholder="https://www.youtube.com/watch?v=wKbU8B-QVZk"/>
        <input type="submit"
                value="Create!"/>
    </form>
</body>
</html>