include ./mixins/carousel
include ./mixins/ytThumb

doctype html
html
head
    <!-- TODO -->
body
  div
    form(method=GLOBALS.ROUTES.CREATE.METHOD,
         action=GLOBALS.ROUTES.CREATE.URL)
      input(type="url",
            name=GLOBALS.ROUTES.CREATE.PARAMS.Y_URL
            value="https://www.youtube.com/watch?v=wKbU8B-QVZk")
      input(type="submit", value="Create!")

  +carousel
      - for (var i = 0; i < trending.length; i++)
          +ytThumb(trending[i])